<nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <a class="navbar-brand" href="#">
        <img style="position: absolute;left: 20px; top: 8px" src="assets/ermsIcon.png" width="40" height="40" alt="MOOL">
    </a>
    <div class="container-fluid">
        <a  style="margin-left: 45px" class="navbar-brand" >ERMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="nav navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="add-employee">Add Employee</a>
                </li>
                <li class="nav nav-item navbar-nav navbar-right">
                    <a class="nav-link" routerLink="user">Users</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a routerLink="signin"><span class="glyphicon glyphicon-log-in"></span> Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>