  <div class="container-fluid bg-info text-danger p-2">
      <h1 style="font-weight: bold; color: navy; font-size: 25px; text-align: center;">EMPLOYEE RECORDS MANAGEMENT SYSTEM</h1>
      <p style="color: black; text-align: center">"Document Everything You Do"</p>
  </div>
<app-navbar></app-navbar>

<div class="container">
  <hr>
  <div class="row">
    <div class="col mt-4 mb-4">
      <div class="col-md-8 mx-auto">
        <router-outlet></router-outlet>
        <!-- <app-employee></app-employee> -->
        <!-- <app-signin></app-signin> -->
        <!-- <app-user></app-user> -->
        <!-- <app-signup></app-signup> -->
      </div>
    </div>
  </div>
</div>
